PORT=5000

# MongoDB Atlas Database URI
MONGO_URI=mongodb+srv://saarthiipscrm_db_user:EPfAERD70GzNZ4KP@cluster0.vdwsfjq.mongodb.net/?appName=Cluster0

# Google Gemini AI API Key (For AI Note-to-Quiz Generator)
GEMINI_API_KEY=your_gemini_api_key_here

# Firebase Admin SDK Credentials
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_CLIENT_EMAIL=your_firebase_client_email@appspot.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----\n"
